<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charsert="UTF-8">
        <title>Listes des equipes</title>


        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
    </head>
    <style>

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
    </style>
    <body>
      <div class="container">
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
      
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/NouveauMatch/">Nouveau Match</a></li>
            <!-- <li><a href="/FeedbackJeux/">Jeux</a></li> -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jeux<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/FeedbackJeux/">Attente</a></li>
                  <li><a href="/HistoriqueJeu/">Historique</a></li>
                </ul>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Equipes <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <!-- <li><a href="/Equipes/ListesEquipes/">Listes des equipes</a></li> -->
                <!-- <li><a href="#">Saison</a></li> -->
                <li><a href="/Equipes/JoueursCree/">Statistique Joueur</a></li>
                <li><a href="/Equipes/StatGliss/">Statistique Equipes</a></li>
                <li><a href="/Equipes/Assiduite/">Assiduite</a></li>
                <li><a href="/Equipes/Joueur1/">Statistique Joueur R</a></li>
              </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Params<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/Equipes/ListesEquipes/">Choix des equipes</a></li>
                  <li><a href="/Equipes/ParamEquipe/">Parametre Equipe</a></li>
                  <!-- <li><a href="#">Etat de forme</a></li> -->
                  <!-- <li><a href="/StatistiqueGame/">En fonction de "Jeux"</a></li> -->
                  <!-- <li><a href="#">Assiduité</a></li> -->
                </ul>
              </li>
          </ul>
          
        </div><!-- /.navbar-collapse -->
      
    </nav>
    
        </div>
<div class="container">
    <h3>FeedbackJeux</h3>
        {% if user.is_authenticated %}
            {% block content %}
            <div style="background-color: white;width:200;height:200">
                <strong>Jeu en attente :</strong> <br>
                {% for jeu in AfficheJeu %}
                <a style="color:black" href="/FeedbackJeux/idGame={{jeu.id}}"> <div style="border:1px solid black; background-color: rgb(175, 174, 174);"> {{user.firsName}} {{user.lastName}} : {{jeu.nameGame}}</div></a> <br />
                {% endfor %}
            </form>
            </div>
            {% endblock %}
        {% else %}
        <p>Vous n'etes pas connécté</p>
        {% endif %}

        
</body>
<script>
        $(function(){
    $(".dropdown").hover(            
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");                
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");                
            });
    });
    
</script>
</html>